* {
    color: #fff8dc;
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #2A3132;
    text-align: center;
}

  img {
    height: auto;
    width: 500px;
    
  }

  .mainTitle
  {
    background-color: #763626;
    padding-bottom: 20px;
    padding-top: 20px;
      
  }
 .recipeBox{
   text-align: center;
 }
  .recipesNames{
    
    display: block;
    text-transform: uppercase;
    cursor:pointer;
    font-size:15px;
    text-decoration: none;
    background-color: rgb(12, 14, 16);
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 30px;
    margin-left: 500px;
    margin-right: 500px;

  }
 
  
  .ingredients,
  .instruction
  {
    
    display: inline-block;
    top: 1.2em;
    width: 40%;
    background: #cbd7df;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 2px solid #336B87;
    vertical-align: top;
  }


  li{
    text-align: left;
    padding-top: 5px;
  }
  
  .iii
  {
   
    background: #cbd7df;
    margin-bottom: 20px;

  }

  h3,
  h4{
    text-align: left;
    margin-bottom: 0.5px;
     
  }
  h5{
    margin-top: 5px;
    margin-bottom: 30px;
  }
  p{
    text-align: left;
    
  }

  p,h3,h4,ul,li
  {
    background: #cbd7df;
    color: #2A3132;
  }


  
  .links{
    
    display: inline-block;
    width: 25%;
    background-color: #763626;
    padding:20px 20px 20px 20px;
}
.bottom{
  
  background-color: #763626;
}
  